<div class="container">
  <h2 class="text-center my-3">
    Space Ocean API Admin Panel
  </h2>
  <div class="card mx-auto shadow-xl" style="width:400px">
    <div class="card-img-top text-center" style="width:100%;">
      <img class="d-inline-block" src="<%= full_image_url('profil.png') %>" alt="Card image">
    </div>
    <div class="card-body">
      <h4 class="card-title text-center">Your Profile</h4>
      <%= form_for(:session, html: {role: "form"}, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.label :username, "Username" %>
          <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
        <div class="form-group text-center">
          <%= f.button "Login", class: "btn btn-primary mt-2", style: "min-width: 100px;"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
