<%= render 'shared/errors', obj: @api_category %>

<div class="row">
  <div class="col-12">
    <%= form_for(@api_category, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2 offset-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8 offset-sm-2">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of api category", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2 offset-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8 offset-sm-2">
          <%= f.text_area :description, rows: 2, class: "form-control", placeholder: "Description of api category" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 offset-sm-2 text-center">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12">
    <% @api_category.api_routes.each do |api_route| %>
      <%= render 'api_routes/form', api_route: api_route %>
    <% end %>

    <div id="new-api-routes">

    </div>
    <%= render 'api_routes/add_api_route_card' %>
  </div>

  <div class="col-sm-6 offset-sm-3 text-center mt-5">
    <%= link_to "Cancel request and return to categories listing", api_categories_path, class: "text-nowrap" %>
  </div>
</div>
