<div class="row">
    <div class="col-8 offset-2">
        <div class="card shadow-sm text-center my-3">
            <%= form_for(api_route, :html => { class: "form-horizontal d-inline-block p-4", role: "form" }) do |f| %>
                <div class="row">
                    <div class="col-6 offset-3 form-group">
                        <div class="control-label">
                            <%= f.label :route %>
                            <%= f.text_field :route, class: "form-control", placeholder: "Route Url", autofocus: true %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3  form-group">
                        <div class="control-label">
                            <%= f.label :method %>
                            <%= f.text_field :method, class: "form-control", placeholder: "GET/POST/PUT/DELETE", autofocus: true %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2  form-group">
                        <div class="control-label">
                            <%= f.label :response %>
                            <%= f.text_area :response, rows: 6, class: "form-control", placeholder: "Json Repsonse" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.submit class: "btn btn-primary btn-lg" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
